<nav class="navbar navbar-fixed-top">

	<div class="content-padding">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li><a href="/perfil">Perfil</a></li>
		</ul>
	</div>

</nav>